---
// Imports
import { SITE_NAVIGATION, CONFIG_BASE } from "../consts";

// Component Props
const { label } = Astro.props;

// Dynamic Data & Logic
const currentUrl = new URL(Astro.request.url, import.meta.env.SITE);
const currentPath = currentUrl.pathname;

const isCurrentPage = (itemUrl) => {
  const normalizedCurrentPath = currentPath.replace(/\/$/, '');
  // Adjust the comparison for the home page
  if (itemUrl === "/") {
    // Check if the current path is the root or matches CONFIG_BASE (for home page)
    return normalizedCurrentPath === '' || normalizedCurrentPath === CONFIG_BASE.replace(/\/$/, '');
  }
  const normalizedItemUrl = `${CONFIG_BASE}${itemUrl}`.replace(/\/$/, '');

  // Check for exact match or if current path is a subpath of the item's URL
  return normalizedCurrentPath === normalizedItemUrl || normalizedCurrentPath.startsWith(normalizedItemUrl + '/');
};
---

<!-- <nav aria-label={label}>
  <ul role="list" class="l-cluster">
    {SITE_NAVIGATION.map(item => (
      <li>
        <a 
          href={`${CONFIG_BASE}${item.url === "/" ? "" : item.url}`}
          aria-current={currentPath === item.url ? 'page' : undefined}
        >{item.label}</a>
      </li>
    ))}
  </ul>
</nav> -->


<!-- <nav aria-label={label}>
  <ul role="list" class="l-cluster">
    <span>Current Path: {currentPath}</span>
    {SITE_NAVIGATION.map(item => {
      console.log("currentPath", currentPath);
      

      return (
        <li>
          <a 
            href={`${CONFIG_BASE}${item.url === "/" ? "" : item.url}`}
            aria-current={currentPath.replace(/\/$/, '') === `${CONFIG_BASE}${item.url}`.replace(/\/$/, '') ? 'page' : undefined}
          >{item.label}</a>
        </li>
      );
    })}
  </ul>
</nav> -->

<nav aria-label={label}>
  <ul role="list" class="l-cluster">
    <span>Current Path: {currentPath}</span>
    {SITE_NAVIGATION.map(item => (
      <li>
        <a 
          href={`${CONFIG_BASE}${item.url === "/" ? "" : item.url}`}
          aria-current={isCurrentPage(item.url) ? 'page' : undefined}
        >{item.label}</a>
      </li>
    ))}
  </ul>
</nav>