---
// Imports
import { SITE_NAVIGATION, CONFIG_BASE } from "../consts";

// Component Props
const { label } = Astro.props;

// Dynamic Data & Logic
const currentUrl = new URL(Astro.request.url, import.meta.env.SITE);
const currentPath = currentUrl.pathname;
---

<!-- <nav aria-label={label}>
  <ul role="list" class="l-cluster">
    {SITE_NAVIGATION.map(item => (
      <li>
        <a 
          href={`${CONFIG_BASE}${item.url === "/" ? "" : item.url}`}
          aria-current={currentPath === item.url ? 'page' : undefined}
        >{item.label}</a>
      </li>
    ))}
  </ul>
</nav> -->

<nav aria-label={label}>
  <ul role="list" class="l-cluster">
    <li>
      <a 
        href={`${CONFIG_BASE}`}
        aria-current={currentPath === "/" ? 'page' : undefined}
      >Home</a>
    </li>
    <li>
      <a 
        href={`${CONFIG_BASE}/portfolio`}
        aria-current={currentPath === "/portfolio" ? 'page' : undefined}
      >Portfolio</a>
    </li>
    <li>
      <a 
        href={`${CONFIG_BASE}/contact`}
        aria-current={currentPath === "/contact" ? 'page' : undefined}
      >Contact Me</a>
    </li>
  </ul>
</nav>
