---
// Component Props
const { href, text, variant = "primary" } = Astro.props;
---

{href ? (
  <a class="button" href={href} data-button-variant={variant}>
    <span>{text}</span>   
  </a>
) : (
  <button class="button" data-button-variant={variant}>
    <span>{text}</span>
  </button>
)}