---
// Imports
import LayoutDefault from '../../layouts/LayoutDefault.astro';
import { getCollection } from 'astro:content';
import { CONFIG_BASE } from "../../consts";

// Dynamic Data & Logic 
  export async function getStaticPaths() {
    const items = await getCollection("projects");   
    return items.map(item => ({
      params: { slug: item.slug }, 
      props: { item },
    }));
  }
  
  // Component Props
  const { item } = Astro.props;
---

<LayoutDefault metaTitle={item.data.title} metaDescription={item.data.description}>
  <div class="l-wrapper l-flow">
    <h1>{item.data.title}</h1>
    <p><strong>Description:</strong> {item.data.description}</p>
    <p><strong>Category:</strong> {item.data.category}</p>
    <p><strong>Technologies:</strong></p>
    <ul role="list" class="l-cluster">
      {item.data.technologies.map(tech => (
        <li>
          <a href={`${CONFIG_BASE}/technologies/${tech.toLowerCase().replace(/\s+/g, "-")}`}>{tech}</a>
        </li>
      ))}
    </ul>
    <p><strong>Project Background:</strong> {item.data.background}</p>
  </div>
</LayoutDefault>