---
// Imports
import { getCollection } from "astro:content";
import LayoutDefault from '../../layouts/LayoutDefault.astro';
import { CONFIG_BASE } from "../../consts";

// Static Data
const metaTitle = "Portfolio";
const metaDescription = "xxx";

// Dynamic Data & Logic
const items = (await getCollection("projects"))
  .filter(item => item.data.featured === true)
  .sort((a, b) => a.data.order - b.data.order);
---

<LayoutDefault {metaTitle} {metaDescription}>
	<section class="l-wrapper">
    <ul role="list" class="articles | l-grid">

      {items.slice(0, 4).map((item) => (
				<li class="l-flow">					
					<picture>
						<source 
							srcset={`${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/desktop/image-portfolio-${item.slug}.jpg 1x, ${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/desktop/image-portfolio-${item.slug}@2x.jpg 2x`} 
							media="(min-width: 55.001rem)" 
							type="image/jpg"
						/>
						<source 
							srcset={`${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/tablet/image-portfolio-${item.slug}.jpg 1x, ${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/tablet/image-portfolio-${item.slug}@2x.jpg 2x`} 
							media="(min-width: 40.001rem)" .
							type="image/jpg"
						/>
						<img 
							src={`${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/mobile/image-portfolio-${item.slug}.jpg`} 
							srcset={`${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/mobile/image-portfolio-${item.slug}.jpg 1x, ${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/mobile/image-portfolio-${item.slug}@2x.jpg 2x`} 
							alt={`${item.data.title} Project Image`} 
							width="540"
							height="500"
							loading="lazy"
						/>
					</picture>
					<h2 class="u-font-size-2">{item.data.title}</h2>
					<p>{item.data.description}</p>
					<a href={`${CONFIG_BASE}/${metaTitle.toLowerCase()}/${item.slug}`}>
						view <span class="u-vh">{item.slug}</span> project
					</a>
				</li>
      ))}

    </ul>
	</section>
</LayoutDefault>

<style lang="scss">
	picture img {
		object-fit: cover;
		block-size: 100%;
		inline-size: 100%;
		aspect-ratio: 540 / 500;
	}
</style>